body {
    background: #000 url(../media/global/bg.webp) no-repeat center;
}

.content{
    margin-top: 100px;
}

.about{
    background-color: #f0ffffaa;
    backdrop-filter: blur(10px);
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.info{
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.info > div{
    background-color: #faebd7aa;
    backdrop-filter: blur(10px);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 1 1 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
}