body {
    line-height: 1.6;
    background-color: #293b43;
}

.content{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    color: white;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    
    form{
        background-color: rgba(255, 255, 255, .4);
        backdrop-filter: blur(10px);
        padding: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: 'Geist', sans-serif;
    }

    #submit-contact{
        background-color: #5e6163;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: all .3s;
    }

    #submit-contact:hover{
        background-color: #4a4e50;
    }
}


footer{
    color: white;
}

footer .r-cont{
    color: white;
}