.content{
    width: 95%;
    height: auto;
    margin: 0 auto;
}

#preg1{
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* meterle media query con flex de tipo que quede arriba la imagen y abajo el texto */
#cimg1{
    aspect-ratio: 1/1;
    width: 20vw;
    height: auto;
    object-fit: cover;
    margin: 2vw;
    position: relative;
    left: 0;
    top: -5vw;
    z-index: 1;
    overflow: visible;
}

.card1{
    background-color: #e2ceb1;
    border-radius: 10px;
    display: flex;
    height: -15vw;
    margin: 0 auto;
    z-index: 2;
}

.exp1{
    text-align: right;
    margin: 40px;
    font-size: 1.3em;
}

.vid{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    width: 80%;
    height: auto;
    margin: 20px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 16/9;
    background-color: #fdfce8;
    z-index: 1;
    padding: 20px;
}

.vid iframe{
    background-color: black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
